@{
    ViewData["Title"] = "About Us";
}

<h1>About TimeTech Innovations</h1>

<p><strong>Company Name:</strong> TimeTech Innovations</p>

<p><strong>Headquarters:</strong> Windsor, ON</p>

<p><strong>Staff:</strong></p>
<ul>
    <li>Ahmed Sahal (CEO)</li>
    <li>Usman (CTO)</li>
</ul>

<p>
    <strong>Product Description:</strong> TimeTech's New Watch: More Than Just Time

    Meet TimeTech's Prestige Smart Watch. It's not just a watch; it's very special. It can do many things.

    Help with Fitness:
    This watch counts your steps. It checks your heart and how you sleep. It even knows where you run. You can wear it in the rain or when swimming.

    Stay Updated:
    This watch tells you when someone calls or sends a message. Connect it to your phone, and you won't miss anything. You can also play music, see the weather, and take a photo with it.

    Looks Good:
    This watch is pretty. It has a metal part and a strong band. The screen is bright and colorful. You can change how it looks every day.

    Battery Lasts Long:
    You don't have to charge this watch every day. The battery stays for a long time. If it's low, charging it is fast.

    Connect with Other Things:
    This watch works with other smart things. You can ask questions or turn off lights with it.

    Stay Safe:
    If you're in trouble, the watch can help. Press a button, and it tells your family or helps where you are.

    TimeTech's Prestige Smart Watch is special. It does many things, not just show time. It's a good watch to have.
</p>
